<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  	<%= javascript_include_tag :defaults %>
  	<title>Don't Plagiarize!</title>
  </head>
  <body>
    <div>
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] %></p>
    </div>
    <% if logged_in? %>
      <div id="logout">
        <a href="/logout">Logout</a>
      </div>
    <% else %>
      <div id="login">
        <a href="/login">Get started - log in with Twitter!</a>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>